    <!-- Contact/Hire form -->
    <section id="hire-section">
      <h2>Do you need some art done?</h2>
      <a href="https://twitter.com/TheDesertWhale" class="twit-link" target="_blank">Message me on Twitter!</a>
      <p>Or fill out the form below!</p>

      <form action="https://formspree.io/f/mqkwqgrg" method="post">

        <label for="fname">Name:</label><br>
        <input type="text" name="fname" placeholder="John Doe"><br>

        <label for="_replyto">Email:</label><br>
        <input type="email" name="_replyto" placeholder="johndoe@email.com" required><br>

        <label for="message">Your Order/Comments:</label><br>
        <textarea type="text" maxlength="150" cols="38" rows="4" name="message" id="comments" placeholder="Do you have a package(s) in mind?" required></textarea><br>

        <div>
          <input type="submit" value="Send">
          <input type="reset" value="Clear">
        </div>
        

        <p>*We will discuss terms and payment conditions after establishing the work to be done.</p>
      </form>
    </section>