<header id="header">
  <button id="bars" onclick="toggleMenu()">
    <i class="fas fa-bars"></i>
  </button>
  
  <nav id="main-nav">
    <a href="/"><img src="../images/lil-whale.png" alt="Des Logo Here"/></a>
    <h3 id="logo-name">TheDesertWhale</h3>
    <li><a href="/">Home</a></li>
    <li><a href="./portfolio">Portfolio</a></li>
    <li><a href="./commissions">Commissions</a></li>
    <li><a href="./about">About</a></li>
    <li><a href="./policy">Policy</a></li>
  </nav>
</header>