<header id="header">
  <button id="bars" onclick="toggleMenu()">
    <i class="fas fa-bars"></i>
  </button>
  <a href="/" id="mobile-logo"><img src="../images/lil-whale.png" alt="Des Logo made by alii"/></a>
  <nav id="main-nav">
    <a href="/" id="center-image"><img src="../images/lil-whale.png" alt="Des Logo made by alii"/></a>
    <h3 id="logo-name">TheDesertWhale</h3>
    <div id="status-container-2">
      <p>Commission Status:</p>
      <p class="status"> Open</p>
    </div>
    <a href="/"><li id="first-link">Home</li></a>
    <a href="./portfolio"><li>Portfolio</li></a>
    <a href="./commissions"><li>Commissions</li></a>
    <a href="./policy"><li id="last-link">Policy</li></a>
    
  </nav>
</header>