<header id="header">
  <button id="bars" onclick="toggleMenu()">
    <i class="fas fa-bars" alt="hamburger-menu button"></i>
  </button>
  <a href="/" id="mobile-logo"><img src="../images/lil-whale.png" alt="Des Logo made by alii"/></a>
  <nav id="main-nav">
    <a href="/" id="center-image"><img src="../images/lil-whale.png" alt="Des Logo made by alii"/></a>
    <h3 id="logo-name">TheDesertWhale</h3>
    <ul>
      <li id="first-link"><a href="/">Home</a></li>
      <li><a href="./portfolio">Portfolio</a></li>
      <li><a href="./commissions">Commissions</a></li>
      <li><a href="./policy">Policy</a></li>
      <li id="last-link"><a href="./waitlist">Waitlist</a></li>
    </ul>
  </nav>
</header>