<section id="hero-section">
  <h1>DesertWhale</h1>
  <div id="status-container-1">
    <p id="comm-status">Commission Status:</p>
  
  </div>
  
  <div class="call-links">
    <a href="/portfolio" class="btn btn-white btn-animate">View My Work</a>
    <a id="bump" href="/commissions" class="btn btn-white btn-animate">Hire Me!</a>
  </div>

  <div id="social-links">
    <a href="https://twitter.com/TheDesertWhale" target="_blank" alt="Twitter link" title="Twitter"><i class="fab fa-twitter"></i></a>
    <a href="https://www.twitch.tv/thedesertwhale" target="_blank" alt="Twitch link" title="Twitch"><i class="fab fa-twitch"></i></a>
    <a href="https://www.instagram.com/dessertwhale/" target="_blank" alt="Instagram link" title="Instagram"><i class="fab fa-instagram"></i></a>
    <a href="https://www.tiktok.com/@the_desertwhale?lang=en" target="_blank" alt="Tiktok link" title="TikTok"><i class="fab fa-tiktok"></i></a>
  </div>
  <div id="scroll-hint">
    <p>More about me! </p>
    <i class="fas fa-arrow-down"></i>
  </div>
</section>