<section id="info-section">
  <h3>Please read this important information!</h3>
  <p>By commissioning me, you acknowledge and agree to the rules stated in the <a href="./policy">Policy</a></p>
  <h3>FAQ</h3>
  <ul>
    <li>I accept all payments through PayPal, in USD.</li>
    <li>Commissioned pieces are for personal use only, commercial commissions for profit or merchandise must be discussed before I begin.</li>
    <li>2 Revisions available for each piece during the preliminary design phase and one at the final stages of design.</li>
    <li>Full or even partial refunds are not available if the client is unhappy with the finished product.</li>
  </ul>
</section>