<section id="waitlist-section">

  <!-- Seperate articles for each stage of the commission process -->

  <!-- Clients Waiting-->
  <article>
    <h3>Waiting</h3>
    <div id="waiting"></div>
  </article>

  <!-- Clients on Hold -->
  <article>
    <h3>On Hold</h3>
    <div id="on-hold"></div>
  </article>


  <!-- Clients with work in progress -->
  <article>
    <h3>In Progress</h3>
    <div id="working"></div>
  </article>

  <!-- Clients with works completed -->
  <article>
    <h3>Completed</h3>
    <div id="complete"></div>
  </article>
  
</section>