// Some fancy colors to make things pop
$lorange: #f6d3ac;
$salmon: #fd766b;
$torange: #fd4e4d;
$amaranth: #e5234b;
$ampurp: #a92d56;
$highlight: #32c3a6;
$white: #ffffff;
$black: #000000;
$shade: #d6d4ce;


/*
  General use goodies! Package up some often used code.
*/  
@mixin heading-fonts {
  font-family: 'Signika', Helvetica, monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: $amaranth;
};

@mixin body-fonts {
  font-family: 'Signika Negative', Arial, monospace;
  color: $black;
};

@mixin spec-font {
  font-family: 'Nanum pen script', Arial, monospace;
}

@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
};

// Main styles for the body, headings and links!
body {
  @include body-fonts;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: $white;
  margin: 0;

  h1, h2 {
    @include heading-fonts;
    width: 100%;
    background: $white;
    text-align: center;
    text-shadow: 1px 1px $black;
  };

  a {
    font-family: 'Signika', Helvetica, monospace;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: $amaranth;
    &:hover {
      color: $highlight;
      cursor: url('../images/cursor-whale.png'), auto;
    };
  };
};



// Flex, everywhere!
#main-content, .deals, #hero-section, #portfolio-gallery, #commission-section, #display, #hire-section, #about-section, #twitch-stream-deal {
  @include flex;
  width: 100%;
};



/*
     ------------------------------------- Mobile First Styles
*/


// Header Styles
#header {
  position: sticky;

  height: 5rem;
  background: $white;

  top: 0;
  #mobile-logo {
    margin: 0 30%;
    img {
      width: 50px;
      height: 50px;
      margin-top: 1rem;
    }
  }
};

// Get the fontawesome bars in the right spot and lookin good, enable pointer.
#bars {
  margin: .5rem;
  font-size: 2.5rem;
  color: $ampurp;
  background: $white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

// Let's make sure the nav bar is displayed as a hamburger menu on mobile devices.
#main-nav {
  position: absolute;
  margin: -.5rem 0 0 1rem;
  list-style: none;
  display: none;
  a {
    img {
      display: none;
    }
  }
  li {
    background: $white;
    padding: 1rem;
    border: 1px solid $amaranth;
    font-size: 1.2rem;
    &:focus {
      background: $lorange;
      color: $highlight;
    }
  }
  #first-link {
    border-radius: 0 15px 0 0;
  }
  #last-link {
    border-radius: 0 0 15px 15px;
  }

  #logo-name {
    display: none;
  };
}



//  ---------------------------------------- Home page styles
#hero-section {
  height: 100vh;

  h1 {
    font-size: 3rem;
    margin-top: -7rem;
  };
  
  p {
    font-weight: bold;
    margin-top: -1rem;
  };

  // Call to action links
  .call-links {
    margin-top: 4rem;
    a {
      @include spec-font;
      text-decoration: underline;
      font-size: 1.5rem;
      padding: 0 1rem 0 1rem;
    };
  };
  
  #social-links {
    margin-top: 8rem;
    font-size: 2rem;
    a {
      padding: 1.2rem;
      margin: .5rem;
      background: $white;
      border-radius: 50%;
    }
  };
};

// Keep track of commission status
#status-container-1, #status-container-2 {
  display: flex;
  flex-direction: row;
  .status {
    padding-left: 5px;
    color: $highlight;
  }
}

#status-container-2 {
  display: none;
}



// -------------------------------------- Portfolio Gallery Page
#portfolio-gallery {
  display: flex;
  flex-direction: column;
  text-align: center;
  .gallery-image {
    background: $shade;
    width: 90%;
    border-radius: 15px;
    margin: 0 auto;
    img {
      width: 85%;
      padding: 15px;
    };
    h3 {
      @include spec-font;
      font-size: 1.3rem;
      margin-bottom: -1rem;
      padding-top: 10px;
    };
  };
};



// ------------------------------- Commission Showcase Page
#commission-section {
  align-items: center;
  h1 {
    font-size: 2rem;
  };
};

// Individual sections for available work
.showcase-item {
  text-align: center;
  width: 95%;
  figure {
    h3 {
      text-align: center;
    };
    img {
      width: 100%;
      height: auto;
      border: 2px solid $amaranth;
      margin-bottom: 1rem;
    };
    figcaption {
       padding: 1rem 0 1rem 0;
    };
  };
  a {
    background: $lorange;

    padding: 5px;

    border: 2px solid $amaranth;
    border-radius: 15px;
    &:hover {
      background: $white;
      color: $highlight;
    }
  }
  
  hr {
    margin-top: 2rem;
  }
};

// Short informative section
#info-section {
  text-align: center;

  width: 75%;
  
  background: gray;
  color: white;
  h3 {
    padding: 0 10px 0 10px;
  }
  p {
    max-width: 60ch;
    padding: 10px;
  }
  ul li {
    text-align: left;
  }
}

// Make the form look better
#hire-section {
  width: 95%;
  text-align: center;
  form {
    padding: 1.5rem 0 1.5rem 0;
    label {
      float: left;
      margin-left: 15px;
    };
    input {
      width: 85%;
      line-height: 1.5rem;
      padding: .2rem;
      margin: .5rem;
    };
    div {
      display: flex;
      margin: 0 .8rem 0 0;
    };
  };
  #comments {
    margin-left: .5rem;
  }
  .twit-link {
    background: $lorange;
    color: $amaranth;
    padding: 1rem;
    border: 2px solid $amaranth;
    border-radius: 20px;
    &:hover {
      background: $white;
      color: $highlight;
    }
  }
};



// --------------------------------------   About Page
#about-section {
  h1 {
    font-size: 2.5rem;
  };
  h2 {
    margin-top: -2rem;
  };
  #profile-pic {
    border: 2px solid $salmon;
    border-radius: 50%;
    width: 75%;
  };
  .intro {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: -1.5rem;
    text-align: center;
  };
  .about {
    min-width: 75%;
  };
  #skill-list {
    text-align: left;
    margin: 0 20px;
  };
  p {
    padding: 10px 20px;
  };

  // Styles for the donation button
  #donation-link {
    background: $lorange;
    color: $amaranth;

    border: 2px solid $amaranth;
    border-radius: 30px;

    padding: 20px;
    width: 50%;

    text-align: center;

    &:hover {
      background: $white;
      color: $highlight;
    };
  };

  // A basic, non-interactive (yet) progress bar for tracking monthly income vs target.
  #progress-bar {
    background: $lorange;
    border: 2px solid $amaranth;
    border-radius: 10px;
    width: 75%;
    height: 2rem;
    margin: 2rem 0;
    #progress {
    border-radius: 7px;
    width: 15%;
    height: 2rem;
    background: $amaranth;
    };
  };
};



// Policy page outlining working conditions, payment expectations and needed articles from the client.
#policy-page {
  h3 {
    padding: 5% 5% 0 5%;
    font-weight: bold;
    text-transform: uppercase;
  }
  margin-top: 3rem;
  ul {
    padding: 0 10% 0 10%;
    li {
    font-size: 1.4rem;
    text-align: left;
    }
  }
}



// ------------------------------- Waitlist
#waitlist-section {
  article {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 25px;
    margin: 25px;

    border: 5px solid $amaranth;
    border-radius: 15px;

    text-align: center;
    td {
      padding: 2.5px 20px;
    }

    #complete {
      max-height: 300px;
      overflow-y: scroll;
    }
  }
} 

// And finally the footer
#footer {
  @include spec-font;
  height: 1rem;
  padding-left: 20px;
};

.oops {
  font-size: 3rem;
  text-align: center;
}

.hide {
  display: none;
}


/*
---------------------- Tablet Mediaqueries 
*/


@media screen and (min-width: 600px) {
  #header {
    #mobile-logo {
      margin: 0 38%;
    }
  }

  #hero-section {
    margin-top: 5rem;
  }

  #about-section {
    #profile-pic {
      width: 38%;
      height: auto;
    } 
  }
  

  #portfolio-gallery {
    margin-left: 5rem;
    #image-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .gallery-image {
        width: 40%;
      }
    }
  }

  #waitlist-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    article {
      padding: 20px;
      margin: 10px 25px;
    }
  }
}



/*
 --------------    Now for some mediaqueries! (Desktop Styles) ---------------
*/


@media screen and (min-width: 1400px) {

  // Header Styles
  #header {
    height: 0;
    #mobile-logo {
      display: none;
    }

    // Hide the hamburger menu
    #bars {
    display: none;
    }

    // Display the navigation as a nice sidebar
    #main-nav {
      text-align: center;
      display: flex;
      flex-direction: column;
      background: $torange;
      left: -16px;
      height: 500px;
      padding-top: 2rem;
      border-right: 2px solid $lorange;
      border-bottom: 2px solid $lorange;
      border-radius: 0 0 15px 0;
      li {
        background: $lorange;
        margin: 1rem 1.5rem 0 1.5rem;
        padding: .5rem;
        border-radius: 25px;
        &:hover {
          background: $white;
        }
      }

      // Logo Image
      #center-image {
        align-self: center;
        img {
          display: block;
          width: 100px;
          height: 100px; 
        }
        
      }
      #logo-name {
        @include spec-font;
        display: block;

        font-size: 1.5rem;
        text-align: center;

        color: $white;
        
        margin-top: 1px;
      }
    }
  }
  


  // ----------------------------------- Main Page
  #main-content h1, h2 {
    font-size: 3rem;
  };

  // Changing colors background style
  @keyframes bgcolor {
    0% {
        background-color: $lorange;
    }

    25% {
        background-color: $ampurp;
    }

    50% {
        background-color: $highlight
    }

    75% {
        background-color: #ff5940
    }

    100% {
        background-color: #5e6fd1;
    }
  }

  // Page Styles
  #hero-section {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    margin-top: 0;
    h1 {
      margin-top: -3rem;
      font-size: 5rem;
    }
    // Styles for Call to Action buttons
    .call-links {
      padding-bottom: 25rem;
      margin-left: -4rem;
      a {
        background: $white;
        border-radius: 25px;
        text-decoration: none;
        padding: 1rem;
        margin-left: 3rem;
      }

      /*
          Some wonderful little button animations!
          Found here @ https://dev.to/webdeasy/top-20-css-buttons-animations-f41 sitting at #8 by Raj Kamal
      */ 
      .btn:link,
      .btn:visited {
          text-transform: uppercase;
          text-decoration: none;
          padding: 15px 40px;
          display: inline-block;
          border-radius: 100px;
          transition: all .2s;
      }

      .btn:hover {
          transform: translateY(-3px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }

      .btn:active {
          transform: translateY(-1px);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      }

      .btn-white {
          background-color: #fff;
      }

      .btn::after {
          content: "";
          display: inline-block;
          height: 95%;
          width: 95%;
          border-radius: 100px;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -5;
          transition: all .4s;
      }

      .btn-white::after {
          background-color: #fff;
      }

      .btn:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
      }

      .btn-animated {
          animation: moveInBottom 5s ease-out;
          animation-fill-mode: backwards;
      }

      @keyframes moveInBottom {
          0% {
              opacity: 0;
              transform: translateY(30px);
          }

          100% {
              opacity: 1;
              transform: translateY(0px);
          }
      }
      // ----- End button animations
    }
    #social-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 125px;
        right: 25px;
      }
  };


  // --------------------------------------- Portfolio Page
  #portfolio-gallery {
    width: 80%;
    .gallery-image {
      margin-bottom: 5%;
      h3 {
        font-size: 1.7rem;
        padding-bottom: 2%;
      }
    }
  }



  // --------------------------------------- Commission Page 
  #commission-section {
    .showcase-item {
      width: 75%;
      margin: 40px;
      h3 {
        font-size: 1.5rem;
      };
      a {
        padding: 15px;
        border-radius: 25px;
      };
      figure {
        display: flex;
        img {
          margin: 0 1rem 1.5rem 1rem;
          width: 515px;
          height: auto;
        }
        li {
          text-align: left;
          margin-bottom: 1rem;
        }  
      } 
      hr {
        width: 60%;
      }
    };
    .smaller {
      width: 55%;
    }
  };

  // Update styles for info section
  #info-section {
    p {
      max-width: 120ch;
      margin-left: 12rem;
    }
    ul li {
      margin: 0 25%;
    }
  }



  //  -----------------------------------  Contact Form 
  #hire-section {
    width: 45%;
    #contact-text {
      font-size: 1.5rem;
      margin-top: -1rem;
    };
    textarea {
      width: 85%;
    };
  };



  // -----------------------------------  About Page
  #about-section {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 150ch;
    h1 {
      font-size: 4rem;
    };
    h2 {
      font-size: 1.5rem;
    };

    // Update Styles for Image
    #profile-pic {
      width: 25%;
    };
    p {
      max-width: 60ch;
      padding: 20px;
    };
  };



  // -------------------------------------- Policy Page
  #policy-page {
    max-width: 160ch;
  }


  // ------------------------------- Waitlist
  #waitlist-section {
    article {
      padding: 0 25px;
      #complete {
        max-height: 300px;
        overflow-y: scroll;
      }
    }
  }

  // And once again, the footer.
  #footer {
    @include spec-font;
    font-size: 1.2rem;
  }

  .oops {
    display: none;
  }

  .hide {
    display: block;
  }
};