/*
  General use goodies! Package up some often used code.
*/
body {
  font-family: 'Signika Negative', Arial, monospace;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  margin: 0;
}

body h1, body h2 {
  font-family: 'Signika', Helvetica, monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: #e5234b;
  width: 100%;
  background: #ffffff;
  text-align: center;
  text-shadow: 1px 1px #000000;
}

body a {
  font-family: 'Signika', Helvetica, monospace;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #e5234b;
}

body a:hover {
  color: #32c3a6;
  cursor: url("../images/cursor-whale.png"), auto;
}

#main-content, .deals, #hero-section, #portfolio-gallery, #commission-section, #display, #hire-section, #about-section, #twitch-stream-deal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/*
     ------------------------------------- Mobile First Styles
*/
#header {
  position: -webkit-sticky;
  position: sticky;
  height: 100px;
  background: #ffffff;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header #mobile-logo {
  margin: auto;
}

#header #mobile-logo img {
  width: 50px;
  height: 50px;
  margin-top: 1rem;
}

#bars {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: -45px;
  font-size: 2.5rem;
  color: #a92d56;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#main-nav {
  position: absolute;
  margin-top: 50px;
  margin-left: 75px;
  list-style: none;
  display: none;
}

#main-nav a img {
  display: none;
}

#main-nav li {
  background: #ffffff;
  padding: 1rem;
  border: 1px solid #e5234b;
  font-size: 1.2rem;
}

#main-nav li:focus {
  background: #f6d3ac;
  color: #32c3a6;
}

#main-nav #first-link {
  border-radius: 0 15px 0 0;
}

#main-nav #last-link {
  border-radius: 0 0 15px 15px;
}

#main-nav #logo-name {
  display: none;
}

#hero-section h1 {
  font-size: 3rem;
  margin-top: 200px;
}

#hero-section p {
  font-weight: bold;
  margin-top: -1rem;
}

#hero-section .call-links {
  margin-top: 4rem;
}

#hero-section .call-links a {
  font-family: 'Nanum pen script', Arial, monospace;
  text-decoration: underline;
  font-size: 1.5rem;
  padding: 0 1rem 0 1rem;
}

#hero-section #social-links {
  margin-top: 8rem;
  font-size: 2rem;
}

#hero-section #social-links a {
  padding: 1.2rem;
  margin: .5rem;
  background: #ffffff;
  border-radius: 50%;
}

#hero-section #scroll-hint {
  font-family: 'Nanum pen script', Arial, monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 50px;
  font-size: 22px;
}

#hero-section #scroll-hint i {
  padding-left: 10px;
  font-size: 25px;
}

#status-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 18px;
}

#status-container-1 p {
  background-color: #ffffff;
  padding: 15px 30px;
  border-radius: 50px;
}

#status-container-1 #comm-status {
  color: #000000;
}

#status-container-1 #status {
  color: #32c3a6;
  text-transform: uppercase;
}

#portfolio-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#portfolio-gallery .gallery-image {
  background: #d6d4ce;
  width: 90%;
  border-radius: 15px;
  margin: 0 auto;
}

#portfolio-gallery .gallery-image img {
  width: 85%;
  padding: 15px;
}

#portfolio-gallery .gallery-image h3 {
  font-family: 'Nanum pen script', Arial, monospace;
  font-size: 1.3rem;
  margin-bottom: 10px;
  padding-top: 10px;
}

#commission-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#commission-section h1 {
  font-size: 2rem;
}

.showcase-item {
  text-align: center;
  font-size: 18px;
  width: 80%;
  -webkit-box-shadow: 15px 15px 10px gray;
          box-shadow: 15px 15px 10px gray;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-radius: 50px;
  padding: 15px;
  margin-top: 50px;
}

.showcase-item figure {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.showcase-item figure ul {
  text-align: left;
}

.showcase-item figure ul li {
  margin-top: 10px;
}

.showcase-item figure h3 {
  text-align: center;
}

.showcase-item figure img {
  width: 100%;
  height: auto;
  border: 2px solid #e5234b;
  margin-bottom: 1rem;
}

.showcase-item figure figcaption {
  padding: 1rem 0 1rem 0;
}

.showcase-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.showcase-item a {
  background: #f6d3ac;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #e5234b;
  border-radius: 15px;
}

.showcase-item a:hover {
  background: #ffffff;
  color: #32c3a6;
}

.showcase-item hr {
  margin-top: 2rem;
}

.last-item {
  margin-bottom: 70px;
}

#info-section {
  text-align: center;
  font-size: 20px;
  width: 75%;
  padding-right: 15px;
  padding-left: 15px;
  background: gray;
  color: white;
}

#info-section h3 {
  background-color: #32c3a6;
  width: 50%;
  margin: auto;
  margin-top: 15px;
  padding: 0 10px 0 10px;
  border-radius: 50px;
  font-size: 28px;
}

#info-section p {
  max-width: 60ch;
}

#info-section ul li {
  text-align: left;
}

#hire-section {
  width: 95%;
  text-align: center;
}

#hire-section form {
  padding: 1.5rem 0 1.5rem 0;
}

#hire-section form label {
  float: left;
  margin-left: 15px;
}

#hire-section form input {
  width: 85%;
  line-height: 1.5rem;
  padding: .2rem;
  margin: .5rem;
}

#hire-section form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 .8rem 0 0;
}

#hire-section #comments {
  margin-left: .5rem;
}

#hire-section .twit-link {
  background: #f6d3ac;
  color: #e5234b;
  padding: 1rem;
  border: 2px solid #e5234b;
  border-radius: 20px;
}

#hire-section .twit-link:hover {
  background: #ffffff;
  color: #32c3a6;
}

#about-section h2 {
  letter-spacing: 1px;
  font-size: 28px;
  margin-top: 75px;
}

#about-section #profile-pic {
  border: 2px solid #fd766b;
  border-radius: 50%;
  width: 75%;
}

#about-section .intro {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: -1.5rem;
  text-align: center;
}

#about-section .about {
  min-width: 75%;
}

#about-section .about-list {
  background-color: #f6d3ac;
  border-radius: 50px;
  text-align: left;
  padding: 20px;
  margin: 20px;
}

#about-section .about-list li {
  padding: 10px;
  margin-left: 10px;
}

#about-section .list-title {
  font-family: 'Signika', Helvetica, monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: #e5234b;
  font-size: 20px;
  font-weight: bold;
  list-style-type: none;
}

#about-section p {
  text-align: center;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 25px;
}

#about-section #donation-link {
  background: #e5234b;
  color: #ffffff;
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  width: 50%;
  text-align: center;
}

#about-section #donation-link:hover {
  background: #a92d56;
}

#about-section #progress-bar {
  background: #f6d3ac;
  border: 2px solid #e5234b;
  border-radius: 10px;
  width: 75%;
  height: 2rem;
  margin: 2rem 0;
}

#about-section #progress-bar #progress {
  border-radius: 7px;
  width: 15%;
  height: 2rem;
  background: #e5234b;
}

#policy-page {
  margin-top: 3rem;
}

#policy-page h3 {
  padding: 5% 5% 0 5%;
  font-weight: bold;
  text-transform: uppercase;
}

#policy-page ul {
  padding: 0 10% 0 10%;
}

#policy-page ul li {
  font-size: 1.4rem;
  text-align: left;
}

#waitlist-section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  margin: 25px;
  border: 5px solid #e5234b;
  border-radius: 15px;
  text-align: center;
}

#waitlist-section article table {
  font-size: 18px;
  margin-bottom: 20px;
}

#waitlist-section article table th {
  font-family: 'Signika', Helvetica, monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: #e5234b;
  padding-bottom: 15px;
  background-color: #ffffff;
}

#waitlist-section article table td {
  padding: 5px 20px;
}

#waitlist-section article table td:nth-child(1) {
  font-family: 'Nanum pen script', Arial, monospace;
}

#waitlist-section article table tr:nth-child(even) {
  background-color: #fd766b;
  color: #ffffff;
}

#waitlist-section article table tr:nth-child(odd) {
  background-color: #f6d3ac;
}

#waitlist-section article #complete {
  max-height: 300px;
  overflow-y: scroll;
}

#footer {
  font-family: 'Nanum pen script', Arial, monospace;
  height: 1rem;
  padding-left: 20px;
}

.oops {
  font-size: 3rem;
  text-align: center;
}

.hide {
  display: none;
}

/*
---------------------- Tablet Mediaqueries 
*/
@media screen and (min-width: 600px) {
  #header #mobile-logo {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  #hero-section h1 {
    margin-top: 25px;
  }
  #about-section #profile-pic {
    width: 38%;
    height: auto;
  }
  #portfolio-gallery #image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #portfolio-gallery #image-container .gallery-image {
    width: 40%;
    margin-top: 25px;
  }
  #waitlist-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #waitlist-section article {
    padding: 20px;
    margin: 10px 25px;
  }
}

/*
 --------------    Now for some mediaqueries! (Desktop Styles) ---------------
*/
@media screen and (min-width: 1400px) {
  #header {
    height: 0;
  }
  #header #mobile-logo {
    display: none;
  }
  #header #bars {
    display: none;
  }
  #header #main-nav {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fd4e4d;
    left: -16px;
    height: 500px;
    padding-top: 2rem;
    margin-top: 0;
    margin-left: 0;
    border-right: 2px solid #f6d3ac;
    border-bottom: 2px solid #f6d3ac;
    border-radius: 0 0 15px 0;
  }
  #header #main-nav li {
    background: #f6d3ac;
    margin: 1rem 1.5rem 0 1.5rem;
    padding: .5rem;
    border-radius: 25px;
  }
  #header #main-nav li:hover {
    background: #ffffff;
  }
  #header #main-nav #center-image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #header #main-nav #center-image img {
    display: block;
    width: 100px;
    height: 100px;
  }
  #header #main-nav #logo-name {
    font-family: 'Nanum pen script', Arial, monospace;
    display: block;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    margin-top: 1px;
  }
  #main-content h1, h2 {
    font-size: 3rem;
  }
  @-webkit-keyframes bgcolor {
    0% {
      background-color: #f6d3ac;
    }
    25% {
      background-color: #a92d56;
    }
    50% {
      background-color: #32c3a6;
    }
    75% {
      background-color: #ff5940;
    }
    100% {
      background-color: #5e6fd1;
    }
  }
  @keyframes bgcolor {
    0% {
      background-color: #f6d3ac;
    }
    25% {
      background-color: #a92d56;
    }
    50% {
      background-color: #32c3a6;
    }
    75% {
      background-color: #ff5940;
    }
    100% {
      background-color: #5e6fd1;
    }
  }
  #hero-section {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 50px;
  }
  #hero-section h1 {
    margin-top: 50px;
    font-size: 5rem;
  }
  #hero-section .call-links {
    padding-bottom: 25rem;
    margin-left: -4rem;
    /*
          Some wonderful little button animations!
          Found here @ https://dev.to/webdeasy/top-20-css-buttons-animations-f41 sitting at #8 by Raj Kamal
      */
  }
  #hero-section .call-links a {
    background: #ffffff;
    border-radius: 25px;
    text-decoration: none;
    padding: 1rem;
    margin-left: 3rem;
  }
  #hero-section .call-links .btn:link,
  #hero-section .call-links .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  #hero-section .call-links .btn:hover {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  #hero-section .call-links .btn:active {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  #hero-section .call-links .btn-white {
    background-color: #fff;
  }
  #hero-section .call-links .btn::after {
    content: "";
    display: inline-block;
    height: 95%;
    width: 95%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  #hero-section .call-links .btn-white::after {
    background-color: #fff;
  }
  #hero-section .call-links .btn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
            transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  #hero-section .call-links .btn-animated {
    -webkit-animation: moveInBottom 5s ease-out;
            animation: moveInBottom 5s ease-out;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  @-webkit-keyframes moveInBottom {
    0% {
      opacity: 0;
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  #hero-section #social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 125px;
    right: 25px;
  }
  #hero-section #scroll-hint {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    font-size: 25px;
  }
  #hero-section #scroll-hint i {
    color: #ffffff;
    font-size: 30px;
  }
  #portfolio-gallery {
    width: 80%;
  }
  #portfolio-gallery .gallery-image {
    margin-bottom: 5%;
  }
  #portfolio-gallery .gallery-image h3 {
    font-size: 1.7rem;
    padding-bottom: 2%;
  }
  #commission-section .showcase-item {
    width: 75%;
    margin: 40px;
  }
  #commission-section .showcase-item h3 {
    font-size: 1.5rem;
  }
  #commission-section .showcase-item div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #commission-section .showcase-item a {
    padding: 15px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #commission-section .showcase-item figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #commission-section .showcase-item figure img {
    margin: 0 1rem 1.5rem 1rem;
    width: 515px;
    height: auto;
  }
  #commission-section .showcase-item figure li {
    text-align: left;
    margin-bottom: 1rem;
  }
  #commission-section .showcase-item hr {
    width: 60%;
  }
  #info-section {
    padding-right: 0;
    padding-left: 0;
  }
  #info-section p {
    margin: 40px auto;
  }
  #info-section ul li {
    margin: 0 25%;
  }
  #hire-section {
    width: 45%;
  }
  #hire-section #contact-text {
    font-size: 1.5rem;
    margin-top: -1rem;
  }
  #hire-section textarea {
    width: 85%;
  }
  #about-section {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 150ch;
  }
  #about-section h1 {
    font-size: 4rem;
  }
  #about-section h2 {
    font-size: 1.5rem;
  }
  #about-section #profile-pic {
    width: 25%;
  }
  #about-section p {
    max-width: 60ch;
    padding: 20px;
  }
  #policy-page {
    max-width: 160ch;
  }
  #waitlist-section article {
    padding: 0 25px;
  }
  #waitlist-section article #complete {
    max-height: 300px;
  }
  #waitlist-section article table tr td {
    font-size: 22px;
  }
  #footer {
    font-family: 'Nanum pen script', Arial, monospace;
    font-size: 1.2rem;
  }
  .oops {
    display: none;
  }
  .hide {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */