body {
  font-family: 'Signika Negative', Arial, monospace;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f6d3ac;
  margin: 0;
}

body h1, body h2 {
  font-family: 'Signika', Helvetica, monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: #e5234b;
}

body a {
  text-decoration: none;
  font-family: 'Signika', Helvetica, monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: #e5234b;
}

body a:hover {
  color: #32c3a6;
}

#header {
  width: 100%;
  background: #fd4e4d;
  border-bottom: 2px solid #fd766b;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
}

#main-nav li {
  list-style: none;
  padding: .4rem;
}

#main-nav li a {
  padding: .4rem;
  border: 2px solid #f6d3ac;
  border-radius: 10px;
  color: #f6d3ac;
}

#main-nav li a:hover {
  color: #32c3a6;
  border: 2px solid #32c3a6;
  cursor: url("../images/lil-whale.png");
}

#main-content, #bundle-deals, #hero-section, #portfolio-section, #hire-section, #about-section, #single-deals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#hero-section {
  height: 87vh;
}

#hero-section h1 {
  font-size: 3rem;
}

#hero-section p {
  font-weight: bold;
  margin-top: -2rem;
}

#hero-section #call-links {
  margin-top: 4rem;
}

#hero-section #call-links a {
  text-decoration: underline;
  font-family: 'Nanum Pen Script';
  font-size: 1.5rem;
  padding: 0 1rem 0 1rem;
}

#portfolio-section h1 {
  font-size: 2rem;
}

#portfolio-section .showcase-item {
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 10px 10px 2px #fd766b;
          box-shadow: 10px 10px 2px #fd766b;
  border-radius: 10px;
  width: 90%;
  margin: 1rem 0 1rem 0;
}

#portfolio-section .showcase-item figure img {
  width: 300px;
}

#portfolio-section .showcase-item figure figcaption {
  padding: 1rem 0 1rem 0;
}

#past-gallery {
  text-align: center;
}

#past-gallery img {
  padding: 20px 10px 20px 10px;
}

#bundle-deals h2, #single-deals h2 {
  font-size: 2rem;
}

.package {
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 10px 10px 2px #fd766b;
          box-shadow: 10px 10px 2px #fd766b;
  border-radius: 10px;
  width: 90%;
  margin: 1rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.package h3 {
  font-size: 1.5rem;
}

.package .price {
  font-weight: bold;
  font-size: 1.2rem;
}

.package div {
  margin: 20px 0 20px 0;
}

.package div img {
  padding: 0 5px 0 5px;
}

.package a {
  display: block;
  margin: 1rem;
  background: #fd4e4d;
  width: 75%;
  padding: 1rem;
  border-radius: 20px;
  color: #ffffff;
}

#hire-section {
  width: 95%;
}

#hire-section form {
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 10px 10px 2px #fd766b;
          box-shadow: 10px 10px 2px #fd766b;
  border-radius: 10px;
  width: 90%;
  margin: 1rem 0 1rem 0;
  padding: 1.5rem 0 1.5rem 0;
}

#hire-section form label {
  float: left;
  margin-left: 15px;
}

#hire-section form input {
  width: 85%;
  line-height: 1.5rem;
  padding: .2rem;
  margin: .5rem;
}

#hire-section form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 .8rem 0 .8rem;
}

#about-section {
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 10px 10px 2px #fd766b;
          box-shadow: 10px 10px 2px #fd766b;
  border-radius: 10px;
  width: 90%;
  margin: 1rem 0 1rem 0;
}

#about-section h1 {
  font-size: 3rem;
}

#about-section img {
  padding: 20px 0;
}

#about-section p {
  padding: 10px 20px;
}

#footer {
  padding-left: 20px;
}

@media screen and (min-width: 600px) {
  #main-content h1, h2 {
    font-size: 3rem;
  }
  #hero-section {
    background: url();
  }
  #hero-section h1 {
    font-size: 6rem;
  }
  #hero-section p {
    font-size: 1.5rem;
  }
  #hero-section #call-links a {
    font-size: 2rem;
    padding: 30px;
  }
  #portfolio-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #portfolio-section .showcase-item {
    margin: 40px;
  }
  #past-gallery {
    margin: 40px;
  }
  #past-gallery .gallery-section img {
    margin: 40px;
  }
  #bundle-deals, #single-deals {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #bundle-deals .package, #single-deals .package {
    width: 30%;
    margin: 20px;
  }
  #hire-section {
    width: 45%;
  }
  #hire-section #contact-text {
    font-size: 1.5rem;
    margin-top: -1rem;
  }
  #hire-section textarea {
    width: 85%;
  }
  #about-section {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 50%;
  }
  #about-section h2 {
    display: none;
  }
  #about-section p {
    max-width: 60ch;
    padding: 20px;
  }
}
/*# sourceMappingURL=style.css.map */