// Some fancy colors to make things pop
$lorange: #f6d3ac;
$salmon: #fd766b;
$torange: #fd4e4d;
$amaranth: #e5234b;
$ampurp: #a92d56;
$highlight: #32c3a6;
$white: #ffffff;
$black: #000000;


// general use goodies
@mixin heading-fonts {
  font-family: 'Signika', Helvetica, monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: $amaranth;
};

@mixin body-fonts {
  font-family: 'Signika Negative', Arial, monospace;
  color: $black;
};

@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
};

@mixin card {
  text-align: center;
    background: $white;
    box-shadow: 10px 10px 2px $salmon;
    border-radius: 10px;
    width: 90%;
    margin: 1rem 0 1rem 0;
};


// Styles for all things everywhere!
body {
  @include body-fonts;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: $lorange;
  margin: 0;

  h1, h2 {
    @include heading-fonts;
  };

  a {
    text-decoration: none;
    @include heading-fonts;
    &:hover {
      color: $highlight;
    };
  };
};


// Simple header styles
#header {
  width: 100%;

  background: $torange;
  border-bottom: 2px solid $salmon;

  position: sticky;
  top: 0;
};


// pretty little navigation bar & buttons
#main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  
  li {
    list-style: none;
    padding: .2rem;
    a {
      padding: .4rem;
      border: 2px solid $lorange;
      border-radius: 10px;
      color: $lorange;
      &:hover {
        color: $highlight;
        border: 2px solid $highlight;
        cursor: url('../images/lil-whale.png');
      };
    };
  };
};


// Flex, everywhere!
#main-content, #bundle-deals, #hero-section, #portfolio-section, #hire-section, #about-section, #single-deals {
  @include flex;
  width: 100%;
};


// Main page styles
#hero-section {
  height: 87vh;

  h1 {
    font-size: 3rem;
  };
  
  p {
    font-weight: bold;
    margin-top: -2rem;
  };

  #call-links {
    margin-top: 4rem;
    a {
      text-decoration: underline;
      font-family: 'Nanum Pen Script';
      font-size: 1.5rem;
      padding: 0 1rem 0 1rem;
    };
  };
};


// Portfolio showcase page
#portfolio-section {
  align-items: baseline;

  h1 {
    font-size: 2rem;
  };

  .showcase-item {
    @include card;
    figure {
      img {
        width: 300px;
      };
      figcaption {
        padding: 1rem 0 1rem 0;
      };
    };
  };
};

#past-gallery {
  text-align: center;
  img {
    padding: 20px 10px 20px 10px;
  };
};


// Styles for the Commissions page
#bundle-deals, #single-deals {
  h2 {
    font-size: 2rem;
  };
};

.package {
  @include card;
  @include flex;
  h3 {
    font-size: 1.5rem;
  };
  .price {
    font-weight: bold;
    font-size: 1.2rem;
  };
  .descr {
    padding: 0 10px 0 10px;
  };
  div {
    margin: 20px 0 20px 0;
    img {
      padding: 0 5px 0 5px;
      max-width: 87%;
    }
  };
  .array {
    display: flex;
    justify-content: center;
    max-width: 30%;
  };
  a {
    display: block;
    margin: 1rem;
    background: $torange;
    width: 75%;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 20px;
    color: $white;
  };
};


// Make the form look better
#hire-section {
  width: 95%;
  form {
    @include card;
    padding: 1.5rem 0 1.5rem 0;
    label {
      float: left;
      margin-left: 15px;
    };
    input {
      width: 85%;
      line-height: 1.5rem;
      padding: .2rem;
      margin: .5rem;
    };
    div {
      display: flex;
      margin: 0 .8rem 0 .8rem;
    };
  };
};


// Simple about section
#about-section {
  @include card;
  h1 {
    font-size: 3rem;
  };
  img {
    padding: 20px 0;
  };
  p {
    padding: 10px 20px;
  };
  #donation-link {
    background: $amaranth;
    color: $lorange;

    border: 2px solid $salmon;
    border-radius: 30px;

    margin: 15px;
    padding: 20px;
    width: 50%;

    &:hover {
      background: $highlight;
      color: $white;
    };
  };
};


// And finally the footer
#footer {
  padding-left: 20px;
};

// Now for some mediaqueries!
@media screen and (min-width: 600px) {
  #main-nav li {
    margin: 0 2rem 0 2rem;
  };
  #main-content h1, h2 {
    font-size: 3rem;
  };

  #hero-section {
    background: url('../images/tdw-2.jpg');
    h1 {
      font-size: 10rem;
      margin-top: -15rem;
      color: $white;
      text-shadow: 2px 2px $ampurp;
      background: $highlight;
      width: 100%;
      text-align: center;
    };
    p {
      font-size: 2rem;
      color: white;
      position: relative;
      top: -6rem;
      text-shadow: 2px 2px $ampurp;
      display: none;
    };
    #call-links a {
      font-size: 2rem;
      padding: 30px;
      position: relative;
      top: 5rem;
      color: $white;
      text-shadow: 1px 1px $ampurp;
      &:hover {
        color: $highlight;
      }
    };
  };

  #portfolio-section {
    flex-direction: row;
    .showcase-item {
      h3 {
        font-size: 1.5rem;
      };
      margin: 40px;
      figure img {
        width: 100%;
      }
    };
  };

  #past-gallery {
    margin: 40px;
    .gallery-section img {
      margin: 40px;
    };
  };

  #bundle-deals, #single-deals {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    .package {
      width: 30%;
      margin: 20px;
    };
  };

  #hire-section {
    width: 45%;
    #contact-text {
      font-size: 1.5rem;
      margin-top: -1rem;
    };
    textarea {
      width: 85%;
    };
  };

  #about-section {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 50%;
    h2 {
      display: none;
    };
    p {
      max-width: 60ch;
      padding: 20px;
    };
  };
};