<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>

  <!-- Lets put some stuff on the page -->

  <!-- Here shall be the navigation bar! -->
  <%- include('../partials/header')%>

  <!-- Main section for commissions -->
  <main id="main-content">
    <h2>Waitlist</h2>
    <section id="waitlist-section">

      <!-- Seperate articles for each stage of the commission process -->

      <!-- Clients Waiting-->
      <article>
        <h3>Waiting</h3>
        <div id="waiting"></div>
      </article>

      <!-- Clients with work in progress -->
      <article>
        <h3>In Progress</h3>
        <div id="working"></div>
      </article>

      <!-- Clients with works completed -->
      <article>
        <h3>Completed</h3>
        <div id="complete"></div>
      </article>
      
    </section>
  </main>

  <!-- Nothin to see here, just a footer. -->
  <%- include('../partials/footer')%>
</body>
</html>